<html>
<head>
	<title>Tyler Weather App</title>
	<link rel="stylesheet" type="text/css" href="static/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="static/weather.css"/>
	<link rel="stylesheet" type="text/css" href="static/jquery.mobile-1.4.5.css"/>
	<metaxx charset="utf-8">
	<metaxx name="viewport" content="width=device-width, height=device-height, initial-scale=1">
</head>
<body style='background-size: 221px 432px;background-image: url("helen.png?batterylevel=10")'>
</body>
</html>
